@import 'settings';
@import 'foundation-emails';

html,body{
  background-color: #ffffff;
}

table.body{
  background-color: #ffffff;
}

@media only screen and (max-width: 600px) {
  #switcher {
    display:block;
    background-image: url(../assets/img/banner-mobile.jpg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 320px !important;
    height: 190px !important;
  }
  #bannerImage {display: none !important;}
}


.grey-header{
  background-color: #eeeeee;
}

.dark-footer{
  background-color: #6d6862;
  a{
    color: #ffffff !important;
  }
}

.privacy-link{
  a{
    text-decoration: underline;
  }
}